@import "tailwindcss";

*{
  transition: all 0.2s ease-in-out;
  font-family: Montserrat;
}

html, body {
  margin: 0;
  padding: 0;
}

.shadow-center {
  box-shadow: 0px 0px 40px 10px rgba(249, 168, 212, 0.5);
}